<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!--<add key="MONGOHQ_URL" value="mongodb://localhost:27017/" />
        <add key="MONGOHQ_DB" value="QuantaeTestDb" />-->
        <add key="MONGOHQ_URL" value="mongodb://appharbor:c843bd7652088176d2dbce273c00982a@staff.mongohq.com:10058/5836dfd5-24c0-407d-a7a0-50679a4dd2d9" />
        <add key="MONGOHQ_DB" value="5836dfd5-24c0-407d-a7a0-50679a4dd2d9" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add name="rollingFileAppender" type="Quantae.Engine.RollingFileAppenderTextWriter, Quantae.Engine"/>
            </listeners>
        </trace>
        <sharedListeners>
                <add name="rollingFileAppender" type="Quantae.Engine.RollingFileAppenderTextWriter, Quantae.Engine"/>
        </sharedListeners>
        <sources>
            <source name="QuantaeTestTraceSource">
                <listeners>
                    <remove name="Default"/>
                    <add name="rollingFileAppender" type="Quantae.Engine.RollingFileAppenderTextWriter, Quantae.Engine"/>
                </listeners>
            </source>
        </sources>
    </system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MongoDB.Bson" publicKeyToken="F686731CFB9CC103" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.4274" newVersion="1.2.0.4274"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
