<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add name ="rollingFileAppender" type ="Quantae.Engine.RollingFileAppenderTextWriter, Quantae.Engine" />
            </listeners>
        </trace>
        <sharedListeners>
                <add name ="rollingFileAppender" type ="Quantae.Engine.RollingFileAppenderTextWriter, Quantae.Engine" />
        </sharedListeners>
        <sources>
            <source name="QuantaeTestTraceSource" >
                <listeners>
                    <remove name="Default" />
                    <add name="rollingFileAppender" type ="Quantae.Engine.RollingFileAppenderTextWriter, Quantae.Engine" />
                </listeners>
            </source>
        </sources>
    </system.diagnostics>
</configuration>
