@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to Quantae!</h2>
<p>
    To learn more about Quantae, get a life! Visit <a href="http://quantae.com/" title="Quantae Website">http://Quantae.com/</a>.
</p>
