<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MONGOHQ_URL" value="mongodb://localhost:27017/"/>
    <add key="MONGOHQ_DB" value="QuantaeTestDb"/>
    <!--<add key="MONGOHQ_URL" value="mongodb://appharbor:c843bd7652088176d2dbce273c00982a@staff.mongohq.com:10058/5836dfd5-24c0-407d-a7a0-50679a4dd2d9" />
        <add key="MONGOHQ_DB" value="5836dfd5-24c0-407d-a7a0-50679a4dd2d9" />-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BingPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.bing.net:80/soap.asmx" binding="basicHttpBinding"
        bindingConfiguration="BingPortBinding" contract="BingSearchService.BingPortType"
        name="BingPort" />
    </client>
  </system.serviceModel>
</configuration>