<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--
			You can find your access keys by going to aws.amazon.com, hovering your mouse over "Your Web Services Account" in the top-right
			corner and selecting View Access Key Identifiers. Be sure to log-in with the same username and password you registered with your
			Mechanical Turk Requester account. 

			If you don't yet have a Mechanical Turk Requester account, you can create one by visiting http://requester.mturk.com/
		-->
		<add key="MechanicalTurk.ServiceEndpoint" value="https://mechanicalturk.sandbox.amazonaws.com?Service=AWSMechanicalTurkRequester"/>
		<add key="MechanicalTurk.AccessKeyId" value="[Your Access Key ID here]"/>
		<add key="MechanicalTurk.SecretAccessKey" value="[Your Secret Access Key here]"/>
    
    <!-- Keys used for running the unit tests -->
    <add key="MechanicalTurk.Test.WorkerID" value="[Worker ID here]"/>
    <!-- By default the unit tests will refuse to talk to a non-sandbox endpoint. If you *really* want to run the unit tests with real HITs and real money then you can set this value to 'Use real money'. You probably don't want this. -->
    <add key="MechanicalTurk.Test.UseNonSandboxEndpoint" value="No"/>
    <!-- Setting this value to 'yes' will do a client-side validation of your QuestionXML.  Client-side validation can be helpful when authoring your QuestionXML but is unnecessary when running your application in production.   This should be set to 'yes' if you run the SDK tests. -->
    <add key="MechanicalTurk.MiscOptions.EnsureQuestionValidity" value="no"/>    
  </appSettings>
</configuration>
