<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AwsAccessKeyId" value="AKIAIKLXXGBKZTZMZXTA"/>
    <add key="AwsSecretAccessKey" value="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"/>
    <add key="MTurkServiceUrl" value="https://mechanicalturk.sandbox.amazonaws.com?Service=AWSMechanicalTurkRequester"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AWSMechanicalTurkRequesterBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="AWSMechanicalTurkRequesterBinding1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://mechanicalturk.sandbox.amazonaws.com/?Service=AWSMechanicalTurkRequester" binding="basicHttpBinding" bindingConfiguration="AWSMechanicalTurkRequesterBinding" contract="AwsMTurkRequester.AWSMechanicalTurkRequesterPortType" name="AWSMechanicalTurkRequesterPort"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
