<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AwsAccessKeyId" value="AKIAIKLXXGBKZTZMZXTA"/>
    <add key="AwsSecretAccessKey" value="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"/>
    <add key="MTurkServiceUrl" value="https://mechanicalturk.sandbox.amazonaws.com?Service=AWSMechanicalTurkRequester"/>
  </appSettings>
</configuration>